extends layout

mixin listpeople(people)
	each person in people
		.panel.personbox
			.columns.headshot
				img(src= imgdir+person["email"]+'.jpg')
			.columns.text-left
				table.vcard
					tr
						td
							h4 #{person["name"]}
					tr
						td Class of #{person["year"]}
					each major in person["majors"]
						tr
							td Major: #{major}
					if person["minors"]
						each minor in person["minors"]
							tr
								td Minor: #{minor}
					if person["nexus"]
						each nexus in person["nexus"]
							tr
								td Nexus: #{nexus}
					if person["current"]
						tr
							td Currently: #{person["current"]}
					tr
						td 
							a(href='mailto:'+person["email"]+'@mtholyoke.edu') #{person["email"]}@mtholyoke.edu



block vars
	-var pageid = "people"

block title
	title People
	meta(name='description',content='Members, past and present, of the Broaders lab.')

block content
	-var currentpeople = [{"email":"ooi22y"}]
	-currentpeople[0].name = "Annabelle Ooi"
	-currentpeople[0].year = "2017"
	-currentpeople[0].majors = ["Biology"]
	-currentpeople[0].minors = ["Chemistry"]
	
	-currentpeople.push({"email":"malik26a"})
	-currentpeople[1].name = "Aiza Malik"
	-currentpeople[1].year = "2018"
	-currentpeople[1].majors = ["Biochemistry"]
	
	-currentpeople.push({"email":"graha22e"})
	-currentpeople[2].name = "Emily Graham"
	-currentpeople[2].year = "2019"
	-currentpeople[2].majors = ["Chemistry"]
	-currentpeople[2].nexus = ["Engineering"]
	
	-currentpeople.push({"email":"kum22y"})
	-currentpeople[3].name = "Yeonsoo Kum"
	-currentpeople[3].year = "2019"
	-currentpeople[3].majors = ["Chemistry"]
	-currentpeople[3].minors = ["Biology"]
	
	-currentpeople.push({"email":"yigza22b"})
	-currentpeople[4].name = "Beth Yigzaw"
	-currentpeople[4].year = "2019"
	-currentpeople[4].majors = ["Biochemistry"]
	
	-currentpeople.push({"email":"mazia22k"})
	-currentpeople[5].name = "Kate Maziarz"
	-currentpeople[5].year = "2019"
	-currentpeople[5].majors = ["Chemistry"]
	
	-currentpeople.push({"email":"manas22a"})
	-currentpeople[6].name = "Amanda Manaster"
	-currentpeople[6].year = "2019"
	-currentpeople[6].majors = ["Biochemistry"]
	
	-var pastpeople = [{"email":"khich22m"}]
	-pastpeople[0].name = "Areeb Khichi"
	-pastpeople[0].year = "2018"
	-pastpeople[0].majors = ["Chemistry"]
	-pastpeople[0].minors = ["Mathematics"]
	
	-pastpeople.push({"email":"norri22k"})
	-pastpeople[1].name = "Kristyn Norris"
	-pastpeople[1].year = "2016"
	-pastpeople[1].majors = ["Biochemistry"]
	-pastpeople[1].current = "Ph.D. Student at UMass Worcester"
	
	-pastpeople.push({"email":"long24j"})
	-pastpeople[2].name = "Jackie Long"
	-pastpeople[2].year = "2016"
	-pastpeople[2].majors = ["Biochemistry"]
	-pastpeople[2].minors = ["Statistics"]
	-pastpeople[2].current = "Medical student"
	
	
	-var imgdir = "images/members/"
	.row
		.large-12.columns.biolist
			dl.accordion(data-accordion="")
				dd.accordion-navigation.active
					a(href="#panel1") Current Members
					#panel1.content.active(style="display:block")
						
						+listpeople(currentpeople)

				dd.accordion-navigation
					a(href="#panel2") Past Members
					#panel2.content
						.pastpeople
							+listpeople(pastpeople)

				.row
					.large-12.columns
						.panel
							h4 Where we're from:
							#membermap.text-center
								img(src= imgdir+'map.jpg')
							.text-center
								p
									a(href='https://drive.google.com/open?id=1FO7Hhr06G513SwHSnJDyo84bnac&usp=sharing&z=2', target='_blank') 
										| Explore the map
											
									