extends layout

mixin listpeople(people)
	each person in people
		.panel.personbox
			.columns.headshot
				img(src= imgdir+person["email"]+'.jpg')
			.columns.text-left
				table.vcard
					tr
						td
							h4 #{person["name"]}
					tr
						td Class of #{person["year"]}
					each major in person["majors"]
						tr
							td Major: #{major}
					if person["minors"]
						each minor in person["minors"]
							tr
								td Minor: #{minor}
					if person["nexus"]
						each nexus in person["nexus"]
							tr
								td Nexus: #{nexus}
					if person["current"]
						tr
							td Currently: #{person["current"]}
					tr
						td 
							a(href='mailto:'+person["email"]+'@mtholyoke.edu') #{person["email"]}@mtholyoke.edu



block vars
	-var pageid = "people"

block title
	title People
	meta(name='description',content='Members, past and present, of the Broaders lab.')

block content
	-var currentpeople = []
	
	-currentpeople.push({"email":"graha22e"})
	-currentpeople[0].name = "Emily Graham"
	-currentpeople[0].year = "2019"
	-currentpeople[0].majors = ["Chemistry"]
	-currentpeople[0].nexus = ["Engineering"]
	
	-currentpeople.push({"email":"manas22a"})
	-currentpeople[1].name = "Amanda Manaster"
	-currentpeople[1].year = "2019"
	-currentpeople[1].majors = ["Biochemistry"]

	-currentpeople.push({"email":"peabo22c"})
	-currentpeople[2].name = "Catherine Peabody"
	-currentpeople[2].year = "2020"
	-currentpeople[2].majors = ["Biology","East Asian Studies"]

	-currentpeople.push({"email":"yang36x"})
	-currentpeople[3].name = "Xueyi (Sherry) Yang"
	-currentpeople[3].year = "2020"
	-currentpeople[3].majors = ["Biochemistry"]
	
	-currentpeople.push({"email":"kapla26a"})
	-currentpeople[4].name = "Abby Kaplan"
	-currentpeople[4].year = "2021"
	-currentpeople[4].majors = ["Chemistry"]
	
	-currentpeople.push({"email":"kimbe22a"})
	-currentpeople[5].name = "Ariel Kimberley"
	-currentpeople[5].year = "2021"
	-currentpeople[5].majors = ["Biology, Spanish"]
	
	-currentpeople.push({"email":"windu22m"})
	-currentpeople[6].name = "Maegan Windus"
	-currentpeople[6].year = "2021"
	-currentpeople[6].majors = ["Chemistry, Biology"]

	-var pastpeople = [{"email":"khich22m"}]
	-pastpeople[0].name = "Areeb Khichi"
	-pastpeople[0].year = "2018"
	-pastpeople[0].majors = ["Chemistry"]
	-pastpeople[0].minors = ["Mathematics"]
	
	-pastpeople.push({"email":"ooi22y"})
	-pastpeople[1].name = "Annabelle Ooi"
	-pastpeople[1].year = "2017"
	-pastpeople[1].majors = ["Biology"]
	-pastpeople[1].minors = ["Chemistry"]
	
	-pastpeople.push({"email":"norri22k"})
	-pastpeople[2].name = "Kristyn Norris"
	-pastpeople[2].year = "2016"
	-pastpeople[2].majors = ["Biochemistry"]
	-pastpeople[2].current = "Ph.D. Student at UMass Worcester"
	
	-pastpeople.push({"email":"long24j"})
	-pastpeople[3].name = "Jackie Long"
	-pastpeople[3].year = "2016"
	-pastpeople[3].majors = ["Biochemistry"]
	-pastpeople[3].minors = ["Statistics"]
	-pastpeople[3].current = "Medical student"
	
	-pastpeople.push({"email":"malik26a"})
	-pastpeople[4].name = "Aiza Malik"
	-pastpeople[4].year = "2018"
	-pastpeople[4].majors = ["Biochemistry"]
	
	-pastpeople.push({"email":"yan22v"})
	-pastpeople[5].name = "Victoria Yan"
	-pastpeople[5].year = "2018"
	-pastpeople[5].majors = ["Chemistry"]
	-pastpeople[5].minors = ["Philosophy"]
	
	-pastpeople.push({"email":"kum22y"})
	-pastpeople[6].name = "Yeonsoo Kum"
	-pastpeople[6].year = "2019"
	-pastpeople[6].majors = ["Chemistry"]
	-pastpeople[6].minors = ["Biology"]
	
	-pastpeople.push({"email":"yigza22b"})
	-pastpeople[7].name = "Beth Yigzaw"
	-pastpeople[7].year = "2019"
	-pastpeople[7].majors = ["Biochemistry"]
	
	-pastpeople.push({"email":"mazia22k"})
	-pastpeople[8].name = "Kate Maziarz"
	-pastpeople[8].year = "2018"
	-pastpeople[8].majors = ["Chemistry"]
	
	-var imgdir = "images/members/"
	.row
		.large-12.columns.biolist
			dl.accordion(data-accordion="")
				dd.accordion-navigation.active
					a(href="#panel1") Current Members
					#panel1.content.active(style="display:block")
						
						+listpeople(currentpeople)

				dd.accordion-navigation
					a(href="#panel2") Past Members
					#panel2.content
						.pastpeople
							+listpeople(pastpeople)

				.row
					.large-12.columns
						.panel
							h4 Where we're from:
							#membermap.text-center
								img(src= imgdir+'map.jpg')
							.text-center
								p
									a(href='https://drive.google.com/open?id=1FO7Hhr06G513SwHSnJDyo84bnac&usp=sharing&z=2', target='_blank') 
										| Explore the map
											
									
